<h2>プロフィール設定</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :email, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  
  
  <div class="form-group">
    <label class="control-label col-sm-2">性別</label>
    <div class="col-sm-10">
      <%= f.radio_button :gender, :notselected %> 未選択
      <%= f.radio_button :gender, :male %> 男性
      <%= f.radio_button :gender, :female %> 女性
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2">生年月日</label>
    <div class="col-sm-10">
      <%= raw sprintf(f.date_select(:birthday, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year), default: Date.new(1989,1,1), date_separator: '%s'), '年 ', '月 ') + '日' %>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2">都道府県</label>
    <div class="col-sm-10">
      <%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2">自己紹介</label>
    <div class="col-sm-10">
      <%= f.text_area :profile, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2">画像</label>
    <div class="col-sm-10">
      <%= image_tag current_user.profile_picture.to_s %>
      <%= f.file_field :profile_picture, class: 'form-control' %>
    </div>
  </div>

  <div class="actions col-sm-offset-2">
    <%= f.submit "Update", class: 'btn btn-default' %>
  </div>
<% end %>
<br>


<h3>退会手続き</h3>

<p>退会を希望されますか？ <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを削除してもよろしいですか？" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to "Back", :back %>
