Communities#index
<h2>コミュニティ</h2>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <%= form_for(@community, html: {class: "form-horizontal" }) do |f| %>
      <div class="form-group">
        <%= f.label :name, 'コミュニティ名', class: "control-label col-sm-4" %>
        <div class="col-sm-8">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :description, 'コミュニティ説明', class: 'control-label col-sm-4' %>
        <div class="col-sm-8">
          <%= f.text_area :description, class: 'form-control' %>
        </div>
      </div>
  
      <div class="form-group">
        <%= f.label :image, '画像', class: 'control-label col-sm-4' %>
        <div class="col-sm-8">
          
          <%= f.file_field :image, class: 'form-control' %>
        </div>
      </div>


      <div class="actions col-sm-offset-2">
        <%= f.submit "コミュニティ作成", class: 'btn btn-default pull-right' %>
      </div>
    <% end %>
  </div>
</div>
    


<% if @communities.any? %>
<h3>コミュニティ一覧</h3>
  <ul class="media-list">
    <% @communities.each do |community| %>
      <li class="media">
        <div class="media-left">
          <%= image_tag community.image.thumb.url, class: "media-object img-rounded" %>
        </div>
        <div class="media-body">
          <div>
            <%= link_to community.name, community_community_topics_path(community.id) %>
          </div>
          <div>
            <span>members: </span><%= CommunityMember.where(community_id: community.id).count %>
            
          </div>
          <div>
            <p><%= community.description %></p>
            
          </div>
          <% top3_topics = community.community_topics.all.order('created_at DESC') %>
          <% if top3_topics.any? %>
            <ul>
              <% top3_topics.limit(3).each do |topic| %>
                <li>
                  <%= link_to topic.title, [community,topic] %>
                </li>
              <% end %>
            </ul>
          <% end %>
          
          <div class="buttons text-center">
            <%= render 'community_members/join_button', community: community %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @communities %>
<% end %>
